/* Features Grid
---------------------------------------------------------------------*/
.features-grid-container{
       width:80%;
       margin-left:auto;margin-right:auto;    /* Align the container in the centre*/
       padding-bottom:6rem;
}
/*Reverse the postion og image and text in second row*/
.features-grid-row#second-row{flex-direction:row-reverse;}
      